# --- CONFIGURACIÓN DE CORREO (RESEND) ---

# Sustituye 're_tu_api_key_aqui' por la API Key real que obtienes en https://resend.com
RESEND_API_KEY=re_tu_api_key_aqui

# El correo electrónico donde recibirás los mensajes del formulario de contacto
CONTACT_EMAIL=info@t2bteam.net

# --- OTRAS CONFIGURACIONES ---
# NEXT_PUBLIC_BASE_URL=http://localhost:3000
